@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

html{
  scroll-behavior: smooth;
}

* {
  padding: 0px;
  margin: 0px;

  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
}